/* Custom CSS for PMTC */

html { 
  background: #1c2833;
  min-height: 100%; 
  position: relative; 
  }

body {
  background: #1c2833;
  color: #eaf2f8;
  margin-bottom: 2em;
  }


h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  }

.content {
  margin: 0 auto;
  max-width: 30em;
  }

/* Images */
img { max-width: 100%;
vertical-align: middle;
}

/* Change colour of bullets */
ul li {
  color: #fff9c4
  }

/* Links */
a {
  color: #fff9c4;
  font-weight: bold;
  text-decoration: none;
  }

a:visited {
  color: #fff9c4;
  }

a:hover {
  text-decoration: none;
  }

/* Site branding styling */
header {
  text-align: center;
  }

#site-title {
  margin-bottom: 0;
  }

#site-tagline {
  margin: 0;
  font-style: italic;
  }

/* Nav menu styling */
nav {
  display: block;
  color: #fff9c4;
  font-weight: bold;
  }


/* Footer styling */
hr {
  max-width: 30em;
  margin: auto;
  border-top: 1px solid #fff9c4;
  padding: 0; }

.footer {
  color: #fff9c4;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
  line-height: 2em;
}
