html {
  min-height: 100%;
  position: relative;
}

body {
  background: #1c2833;
  color: #eaf2f8;
  margin-bottom: 2em;
}

#site-title {
  font-family: 'Oswald', sans-serif;
}

.nav {
  max-width: 450px;
  margin: auto;
  border-top: 2px solid #fff9c4;
  border-bottom: 2px solid #fff9c4;
}

a {
  color: #fff9c4;
}

a:hover {
  color: #fff9c4;
}


/* Stop line width going past 66 character */

.row {
  margin: auto;
  max-width: 1600px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer div {
  max-width: 450px;
  border-top: 2px solid #fff9c4;
  border-bottom: 2px solid #fff9c4;
  margin: auto;
}
