<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">
        <a href="/buyers/">Buying?</a>
      </h2>
      <p class="card-text">All the information you need about how buying from the Tender Centre works.</p>
    </div>
    <div class="card-footer">
      <p class="card-text">
        <a class="btn btn-dark" href="/buyers/" role="button">Read more</a>
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h2 class="card-title">
        <a href="/sellers/">Selling?</a>
      </h2>
      <p class="card-text">When can you take goods in to sell? What are the commission rates?</p>
      <p class="card-text">Find out here.</p>
    </div>
    <div class="card-footer">
      <p class="card-text">
        <a class="btn btn-dark" href="/sellers/" role="button">Read more</a>
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h2 class="card-title">
        <a href="/faq/">FAQ</a>
      </h2>
      <p class="card-text">You got questions?</p>
      <p class="card-text">We got answers!</p>
    </div>
    <div class="card-footer">
      <p class="card-text">
        <a class="btn btn-dark" href="/faq/" role="button">Read more</a>
      </p>
    </div>
  </div>

</div>
