<footer class="footer">

    <div class="footer--social">
        <a target="_blank" href="mailto:{{ 'hello@pmtc.com.au' | encode_email }}">Email</a>
        <a target="_blank" href="https://facebook.com/tendercentre">Facebook</a>
        <a target="_blank" href="https://twitter.com/_tendercentre">Twitter</a>
        <a target="_blank" href="https://instagram.com/tendercentre">Instagram</a>
    </div>

    <div class="footer--copyright">
        <p>&copy; Port Macquarie Tender Centre 2017</p>
    </div>
    
</footer>
