<footer class="bg-light mt-5 pt-5 text-muted text-center text-small">
    <ul class="list-inline">
    <li class="list-inline-item"><a target="_blank" href="mailto:{{ 'hello@pmtc.com.au' | encode_email }}">Email</a></li>
    <li class="list-inline-item"><a target="_blank" href="https://facebook.com/tendercentre">Facebook</a></li>
    <li class="list-inline-item"><a target="_blank" href="https://twitter.com/_tendercentre">Twitter</a></li>
    <li class="list-inline-item"><a target="_blank" href="https://instagram.com/tendercentre">Instagram</a></li>
  </ul>
  <p class="mb-1">&copy; {{ site.title }} 2018</p>
  <p><a href="#">Back to top</a></p>
</footer>
