<footer class="footer">
    <div class="container">
        <a class="text-muted" target="_blank" href="mailto:{{ 'hello@pmtc.com.au' | encode_email }}">Email</a>
        <a class="text-muted" target="_blank" href="https://facebook.com/tendercentre">Facebook</a>
        <a class="text-muted" target="_blank" href="https://twitter.com/_tendercentre">Twitter</a>
        <a class="text-muted" target="_blank" href="https://instagram.com/tendercentre">Instagram</a>
        <span class="text-muted float-right copyright">&copy; Port Macquarie Tender Centre 2017</span>
    </div>
</footer>