<head>
  <!-- GOOGLE ANALYTICS -->
  <script src="https://www.googletagmanager.com/gtag/js?id=UA-111452383-1" async></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-111452383-1');
  </script>

  <!-- CHARACTER ENCODING -->
  <meta charset="utf-8">

  <!-- USE LATEST RENDERING ENGINE IN INTERNET EXPLORER -->
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- MAKE VEIWPORT RESPONSIVE -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- KEYWORDS FOR SEO -->
  <meta name="keywords" content="Port Macquarie Tender Centre, Tender Centre, Port Macquarie, Second Hand, Second Hand Port Macquarie, consignment, auction, shop, buy, sell">

  {% seo %}

  <!-- PMTC STYLESHEET -->
  <link href="/assets/css/style.css" rel="stylesheet">

  <!-- FAVICONS -->
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
  <link type="image/png" href="/img/favicon-32x32.png" rel="icon" sizes="32x32">
  <link type="image/png" href="/img/favicon-16x16.png" rel="icon" sizes="16x16">
  <link href="/img/manifest.json" rel="manifest">
  <link href="/img/safari-pinned-tab.svg" rel="mask-icon" color="#1c2833">
  <link href="/img/favicon.ico" rel="shortcut icon">
  <meta name="apple-mobile-web-app-title" content="Port Macquarie Tender Centre">
  <meta name="application-name" content="Port Macquarie Tender Centre">
  <meta name="msapplication-config" content="/img/browserconfig.xml">
  <meta name="theme-color" content="#1c2833">

</head>
