<section class="page-header">
  <nav class="card-inverse text-center">
  <div class="card-block">
    <h2 class="card-title"><a class="pmtc" href="/">Port&nbsp;Macquarie Tender&nbsp;Centre</a></h2>
    <p class="pmtc-tagline card-subtitle mb-2 font-italic">You deliver the goods, we deliver the customer!</p>
    <a class="card-link" style="color: #fff9c4;" href="/buyers/">Buyers</a>
    <a class="card-link" style="color: #fff9c4;" href="/sellers/">Sellers</a>
    <a class="card-link" style="color: #fff9c4;" href="/catalogue.pdf" target="_blank">Catalogue</a>
    <a class="card-link" style="color: #fff9c4;" href="/contact/">Contact</a>
  </div>
</nav>
</section>
