  <nav class="page-header">

    <h1><a href="/" class="pmtc text-uppercase font-weight-bold">Port&nbsp;Macquarie Tender&nbsp;Centre</a></h1>
    <p class="pmtc-tagline font-italic">You deliver the goods, we deliver the customer!</p>

    <ul class="nav nav-pills justify-content-center">
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="/buyers/">Buyers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="/sellers/">Sellers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="/catalogue.pdf" target="_blank">Catalogue</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link font-weight-bold dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/contact/">Contact</a>
            <a class="dropdown-item" href="/faq/">FAQ</a>
          </div>
        </li>
    </ul>
    
  </nav>