<nav class="flex overflow-x-auto w-full" id="top">
  <ul class="flex flex-1 justify-center mx-auto max-w-lg list-reset">
    <li class="flex-1">
      <a class="nav-item" href="/buyers/">Buyers</a>
    </li>
    <li class="flex-1">
      <a class="nav-item" href="/sellers/">Sellers</a>
    </li>
    <li class="flex-1">
      <a class="nav-item" href="/faq/">FAQ</a>
    </li>
    <li class="flex-1">
      <a class="nav-item" href="/catalogue/">Catalogue</a>
    </li>
    <li class="flex-1">
      <a class="nav-item" href="/bid/">Bid</a>
    </li>
    </li>
  </ul>
</nav>
