// BUTTONS

.btn-dark {
  background-color: tint($colour--primary, 10%);
  color: $colour--lightest-gray;

  &:hover {
    background-color: tint($colour--primary, 20%);
  }

  &:visited {
    color: $colour--lightest-gray;
  }
}
