// BASE ELEMENTS

* {
  box-sizing: border-box;
}

*:after,
*:before {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  position: relative;
}

body {
  @include antialias;

  background: $colour--white;
  color: $colour--darkest-gray;
  font-family: $font-family--sans-serif;
}

a {
  color: tint($colour--primary, 10%);
  font-weight: $font-weight--bold;
  text-decoration: none;

  &:hover {
    color: tint($colour--primary, 50%);
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: tint($colour--primary, 10%);
  font-weight: $font-weight--bold;
}

h1,
h2 {
  font-family: $font-family--display;
  text-transform: uppercase;
}

ol {
  li {
    font-weight: $font-weight--bold;

    * {
      font-weight: $font-weight--normal;
    }
  }
}

b,
strong {
  font-weight: $font-weight--bold;
}

em,
i {
  font-style: italic;
}

small {
  font-size: $font-size--small;
}

img {
  @include responsive-image;
}

hr {
  padding-bottom: 1rem;
}

::selection {
  background-color: tint($colour--primary, 25%);
  color: $colour--light-yellow;
}
