// BASE ELEMENTS
// -------------
* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    position: relative;
}

body {
    color: $colour--darkest-gray;
    background: $colour--white;
    font-family: $font-family--sans-serif;
    @include antialias;
}

a {
    color: tint($colour--primary, 10%);
    font-weight: $font-weight--bold;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: tint($colour--primary, 50%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $font-weight--bold;
    color: tint($colour--primary, 10%);
}

h1,
h2 {
    font-family: $font-family--display;
    text-transform: uppercase;
}

ol {
    li {
        font-weight: $font-weight--bold;
        * {
            font-weight: $font-weight--normal;
        }
    }
}

strong,
b {
    font-weight: $font-weight--bold !important;
}

em,
i {
    font-style: italic;
}

small {
    font-size: $font-size--small;
}

img {
    @include responsive-image;
}

hr {
    padding-bottom: 1rem;
}

::selection {
    color: $colour--light-yellow;
    background-color: tint($colour--primary, 25%);
}
