// FOOTER
// ------
footer {
    position: absolute;
    display: inline;
    right: 0;
    bottom: 0;
    left: 0;
    height: 3.5rem;
    width: 100%;
    padding: 1em 2em;
    color: $colour--darker-gray;
    background-color: $colour--lightest-gray;
    font-weight: $font-weight--medium;
    @include clearfix;
    a {
        color: $colour--darker-gray;
        &:hover {
            color: tint($colour--darker-gray, 50%);
        }
    }
}

.footer--social {
    float: left;
}

.footer--copyright {
    float: right;
    p {
        margin: 0;
    }
}
