// FOOTER
footer {
  @include clearfix;

  background-color: $colour--lightest-gray;
  bottom: 0;
  color: $colour--darker-gray;
  font-weight: $font-weight--medium;
  padding: 1em 2em;
  position: absolute;
  width: 100%;

  a {
    color: $colour--darker-gray;

    &:hover {
      color: tint($colour--darker-gray, 50%);
    }
  }
}

.footer--social {
  float: left;
}

.footer--copyright {
  float: right;

  p {
    margin: 0;
  }
}
