// BASE ELEMENTS
html,
body {
  background-color: $colour--primary;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $colour--darkest-grey;
  font-family: $font-family--sans-serif;
}
main {
  flex: 1 0 auto;
}

footer {
  border-top: 0.05rem solid $colour--dark-grey;
  color: $colour--grey;
  padding: 2.5rem 0;
  text-align: center;
}
footer p:last-child {
  margin-bottom: 0;
}
a {
  color: tint($colour--primary, 10%);
  font-weight: $font-weight--bold;
  text-decoration: none;
  &:hover {
    color: tint($colour--primary, 50%);
    text-decoration: none;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: tint($colour--primary, 10%);
  font-weight: $font-weight--bold;
}
h1,
h2 {
  font-family: $font-family--display;
  text-transform: uppercase;
}
b,
strong {
  font-weight: $font-weight--bold;
}
em,
i {
  font-style: italic;
}
::-moz-selection {
  background-color: tint($colour--primary, 25%);
  color: $colour--light-yellow;
}
::selection {
  background-color: tint($colour--primary, 25%);
  color: $colour--light-yellow;
}

// NAV
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
  width: calc(100% + 30px);
  left: -15px;
}
.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.nav-scroller .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.nav a {
  color: $colour--darker-grey;
  &:hover {
    color: $colour--grey;
  }
}

// MAIN CONTENT
.container {
  max-width: 60rem;
}

// BUTTONS
.btn-dark {
  color: $colour--white;
  background-color: tint($colour--primary, 10%);
  border-color: $colour--primary;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  &:hover {
    background-color: tint($colour--primary, 20%);
  }
}

.btn-dark.focus,
.btn-dark:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-dark.disabled,
.btn-dark:disabled {
  color: $colour--white;
  background-color: $colour--primary;
  border-color: $colour--primary;
}

.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active,
.show > .btn-dark.dropdown-toggle {
  color: $colour--white;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

// BOX SHADOW
.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

// STYLING FOR HEADER
.header-title {
  color: $colour--secondary;
  font-family: $font-family--display;
  font-weight: $font-weight--medium;
  text-transform: uppercase;
  &:hover {
    color: darken($colour--secondary, 5%);
  }
}

.header-lead {
  color: tint($colour--primary, 90%) !important;
}

// MAKE NUMBERS IN ORDERED LISTS BOLD
.content--terms {
  font-weight: $font-weight--bold;
  li > * {
    font-weight: 400;
  }
}
#exampleModalLongTitle {
  padding-left: 1rem;
}
.terms {
  height: 200px;
  overflow: auto;
  padding: 1rem;
}

// JUMBOTRON
#jumbotron--title {
  color: $colour--secondary !important;
  font-weight: $font-weight--medium !important;
  margin-bottom: 0;
}
.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/img/hero.jpg);
  background-size: cover;
  font-weight: $font-weight--bold;
  text-shadow: 0 1px 2px $colour--black;
}

// CARDS
.card {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}
.main--map {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}
.main--instagram {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}
// CLASSES
.lead {
  font-weight: $font-weight--medium;
}
.no-wrap {
  display: inline-block;
}

.catalogue {
  margin-top: -1rem;
}

@media (max-width: 576px) {
  #jumbotron--title {
    font-size: 2.5rem;
  }
}
