// NAV

nav {
  background-color: $colour--primary;
  font-weight: $font-weight--bold;
}

#nav-link {
  color: $colour--gray;

  &:hover {
    color: tint($colour--gray, 50%);
  }
}

#pmtc {
  color: $colour--light-yellow;
  font-family: $font-family--display;
  font-weight: $font-weight--bold;
  text-transform: uppercase;
}
