// NAV
// ---
nav {
    background-color: $colour--primary;
    font-weight: $font-weight--bold;
}

#nav-link {
	color: tint($colour--primary, 75%);
	&:hover {
		color: tint($colour--primary, 100%);
	}
}

#pmtc {
    text-transform: uppercase;
    font-family: $font-family--display;
    font-weight: $font-weight--bold;
    color: $colour--light-yellow;
}
