// COLOURS
// -------
$colour--black:         #000000;
$colour--white:         #FFFFFF;
$colour--blue:          #11A0F3;
$colour--green:         #25BEA1;
$colour--yellow:        #FBBC09;
$colour--red:           #E56134;
$colour--purple:        #9961C9;
$colour--leaf:          #8DCF3F;
$colour--dark-blue:		#23313f;
$colour--light-yellow:	#FEEEC2;

$colour--darkest-gray:  #374252;
$colour--darker-gray:   #5A6575;
$colour--dark-gray:     #8C95A3;
$colour--gray:          #B1B8C4;
$colour--light-gray:    #D3D8E0;
$colour--lighter-gray:  #E9ECF0;
$colour--lightest-gray: #F7F8FA;

$colour--primary: $colour--dark-blue;
