// COLOURS
$colour--black:         hsla(0, 0%, 0%, 1);
$colour--white:         hsla(0, 0%, 100%, 1);
$colour--dark-blue:     hsla(215, 35%, 25%, 1);
$colour--light-yellow:  hsla(45, 95%, 90%, 1);

$colour--darkest-grey:  hsla(215, 20%, 27%, 1);
$colour--darker-grey:   hsla(215, 13%, 41%, 1);
$colour--dark-grey:     hsla(215, 11%, 59%, 1);
$colour--grey:          hsla(215, 14%, 73%, 1);
$colour--light-grey:    hsla(215, 17%, 85%, 1);
$colour--lighter-grey:  hsla(215, 19%, 93%, 1);
$colour--lightest-grey: hsla(215, 23%, 97%, 1);

$colour--primary:         $colour--dark-blue;
$colour--secondary:       $colour--light-yellow;
