// COLOURS
$colour--black:         #000000;
$colour--white:         #FFFFFF;
$colour--blue:          #11A0F3;
$colour--green:         #25BEA1;
$colour--yellow:        #FBBC09;
$colour--red:           #E56134;
$colour--purple:        #9961C9;
$colour--leaf:          #8DCF3F;
$colour--dark-blue:     #23313f;
$colour--light-yellow:  #FEEEC2;

$colour--darkest-grey:  #374252;
$colour--darker-grey:   #5A6575;
$colour--dark-grey:     #8C95A3;
$colour--grey:          #B1B8C4;
$colour--light-grey:    #D3D8E0;
$colour--lighter-grey:  #E9ECF0;
$colour--lightest-grey: #F7F8FA;

$colour--primary:         $colour--dark-blue;
$colour--secondary:       $colour--light-yellow;
