// TYPOGRAPHY


// FONT SIZE
$font-size--large:         1.25rem;
$font-size--small:         .8rem;
$font-size--smaller:       .64rem;


// FONT FAMILY
$font-family--display:     "Oswald", sans-serif;
$font-family--sans-serif:  "Roboto", sans-serif;
$font-family--monospace:   monospace;


// FONT WEIGHT
$font-weight--normal:      400;
$font-weight--medium:      500;
$font-weight--bold:        700;


// LINE HEIGHT
$line-height--tighter:     1;
$line-height--tight:       1.25;
$line-height--base:        1.563;


// LETTER SPACING
$letter-spacing--tighter:  -.027em;
$letter-spacing--tight:    -.018em;
