// TYPOGRAPHY
$font-size--html:          20px;
$font-size--html-sm:       18px;

$font-size--large:         1.25rem;
$font-size--small:         .8rem;
$font-size--smaller:       .64rem;

$font-family--display:     "Oswald", sans-serif;
$font-family--sans-serif:  "Roboto", sans-serif;
$font-family--monospace:   monospace;

$font-weight--normal:      400;
$font-weight--medium:      500;
$font-weight--bold:        700;

$line-height--tighter:     1;
$line-height--tight:       1.25;
$line-height--base:        1.563;

$letter-spacing--tighter:  -.027em;
$letter-spacing--tight:    -.018em;
