{{ define "title" }}Oops!{{ end }}

{{ define "main" }}
<div class="max-w-lg mb-8 mx-auto rounded shadow-lg">
  <div class="card-container">
    <main class="card">
      <div class="card-title">
        <h2>404: Page Not Found</h2>
      </div>
      <div class="p-6 rounded-b">
        <p class="lead">Well that's weird...</p>
        <p class="lead">It looks like this page doesn’t exist (yet?)</p>
        <p>Please use the ‘back’ button in your browser or click the link below to go back to the home page, and if you
          continue to have issues, <a href="mailto:%68%65%6C%6C%6F@%70%6D%74%63.%63%6F%6D.%61%75">get in touch.</a></p>
        <p class="mt-2"><a class="btn btn-dark" href="/">Take me home</a></p>
      </div>
    </main>
  </div>
</div>
{{ end }}