<div class="table-responsive-md">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Sale price</th>
        <th>Commission rate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>$0 – $499</td>
        <td>22%</td>
      </tr>
      <tr>
        <td>$500 – $899</td>
        <td>20%</td>
      </tr>
      <tr>
        <td>$900 – $2999</td>
        <td>18%</td>
      </tr>
    </tbody>
  </table>
</div>

<p>$3000 and over by negotiation.</p>

<p>Minimum commission per item is $3.30.</>
