<nav class="flex overflow-x-auto w-full" id="top">
  <ul class="flex flex-1 justify-center mx-auto max-w-lg list-reset">
    <li class="flex-1">
      <a class="nav-item" href="/buyers/">Buyers</a>
    </li>
    <li class="flex-1">
      <a class="nav-item" href="/sellers/">Sellers</a>
    </li>
    <li class="flex-1">
      <a class="nav-item" href="/faq/">FAQ</a>
    </li>
    <li class="flex-1">
      <a class="nav-item" href="/catalogue.pdf" target="_blank">Catalogue</a>
    </li>
    <li class="flex-1">
      <a class="nav-item" href="/bid/">Bid</a>
    </li>
    </li>
  </ul>
</nav>

<header class="flex-no-wrap py-2 md:py-8 text-center w-full">
  <h1><a class="header-title" href="/">Port&nbsp;Macquarie Tender&nbsp;Centre</a></h1>
  <h4 class="header-lead">You deliver the goods, we deilver the customer!</h4>
</header>