<!DOCTYPE html>
<html lang="en-AU">

<head>
  <title>{{ page.title }}</title>
  <!-- Meta Tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous" />
  <!-- Links -->
  <link href="https://fonts.googleapis.com/css?family=Oswald:600" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link rel="mask-icon" href="../favicon.svg" color="#1c2833" />
  <link rel="canonical" href="https://pmtc.com.au/" />
</head>

<body>
  <header class="text-center">
    <div>
      <h1 id="site-title" class="font-weight-bold text-uppercase"><a href="/">Port Macquarie<br>Tender Centre</a></h1>
      <p id="site-tagline" class="font-italic">You deliver the goods, we deliver the customer!</p>
    </div>

    <ul class="nav justify-content-center flex-wrap">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bid">Bid</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sell">Sell</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/catalogue.pdf">Catalogue</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </header>

  <div class="container-fluid">
    <div class="content">
      <div class="row justify-content-center">
        <div class="col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4">
          {{ content }}
        </div>
      </div>
    </div>
  </div>

  <footer class="footer justify-content-center">
    <div class="d-flex justify-content-center flex-wrap">
      <a class="nav-link" href="mailto:{{ 'hello@pmtc.com.au' | encode_email }}">Email</a>
      <a class="nav-link" href="https://facebook.com/tendercentre">Facebook</a>
      <a class="nav-link" href="https://twitter.com/_tendercentre">Twitter</a>
      <a class="nav-link" href="https://instagram.com/tendercentre">Instagram</a>
    </div>
  </footer>
  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

</html>
