<!DOCTYPE html>
<html lang="en-AU">

<head>
    <title>{{ page.title }}</title>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <!-- Links -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="canonical" href="https://pmtc.com.au/" />
    <!-- Analytics -->
</head>

<body>
    <header>
        <div>
            <h1 id="site-title"><a href="/">Port Macquarie<br>Tender Centre</a></h1>
            <p id="site-tagline">You deliver the goods, we deliver the customer!</p>
        </div>

        <nav>
            <a href="/">Home</a> &bull;
            <a href="/bid">Bid</a> &bull;
            <a href="/Sellers">Sellers</a> &bull;
            <a href="/catalogue">Catalogue</a> &bull;
            <a href="/contact">Contact</a>
        </nav>
    </header>

    <hr />

    <div class="container">
        <div class="content">
            {{ content }}
        </div>
        <!-- /.content -->
    </div>
    <!-- /.container -->

    <footer>
        <hr />
        <a href="mailto:hello@pmtc.com.au">Email</a> &bull;
        <a href="https://facebook.com/tendercentre">Facebook</a> &bull;
        <a href="https://twitter.com/_tendercentre">Twitter</a> &bull;
        <a href="https://instagram.com/tendercentre">Instagram</a>
    </footer>
<!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

</html>